<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/mainpage(logout).css">
    <title>Write Post</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/mainpage">문의하기</a></li>
                <li><a href="/write">WRITE</a></li>
                <li><a href="/menu">MENU</a></li>
                <li><a href="#">LOGOUT</a></li>
                <li><a href="/mypage">프로필</a></li>
            </ul>
        </nav>
    </header>