<%-include('header.ejs')%>

    <link rel="stylesheet" href="/css/mypage.css">

    <div class="container">
        <div class="form-container">
            <h2>MYPAGE</h2>
            <div class="profile-picture">
                <img src="images/human.png" alt="Profile Picture">
            </div>
            <div class="user-info">
                <div class="info">
                    <p><strong>Name:</strong> User Name</p>
                </div>
                <div class="info">
                    <p><strong>ID:</strong> User ID</p>
                </div>
                <div class="info">
                    <p><strong>PW:</strong> ********</p>
                </div>
            </div>
            <button>정보 수정</button>
        </div>
    </div>
</body>
</html>