body {
    font-family: Arial, sans-serif;
    background-image: url('images/main.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-image: url('images/dog.png');
    background-size: cover;
    border-radius: 10%;
    > .form-container{
        border-radius: 10%;
        height: 200px;
    }
  }

  .empty-class{
    width: 100px;
  }
  
  .form-container {
    background-image: url('images/main.jpg');
    background-size: 1500%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding: 120px;
    width: 45%;
    height: 200px;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  