<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/mainpage(logout).css">
    <title>Write Post</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
        </nav>
    </header>
    <link rel="stylesheet" href="/css/index.css">
<header>
    <h1>2023 하계 모각소</h1>
</header>
<div class="participants">
    <h2>참여인원</h2>
    <p>최유정: <a href="https://github.com/rubychoi47/2023_summer_SW "target="_blank">https://github.com/rubychoi47/2023_summer_SW</a></p>
    <p>김유진: <a href="https://butter-dry-2a4.notion.site/8b5819069aec4e3989c6b3431cb85830?pvs=4" target="_blank">https://butter-dry-2a4.notion.site/8b5819069aec4e3989c6b3431cb85830?pvs=4</a></p>
    <p>오세영: <a href="https://github.com/Seyeong1020/2023_summer_sw" target="_blank">https://github.com/Seyeong1020/2023_summer_sw</a></p>
    <p>유태훈: <a href="https://lumbar-shirt-b67.notion.site/HTML-CSS-8bcf2f4849d44111a39bfebecaef532a?pvs=4" target="_blank">https://lumbar-shirt-b67.notion.site/HTML-CSS-8bcf2f4849d44111a39bfebecaef532a?pvs=4</a></p>
    <p>최정인: <a href="https://github.com/jeong35/2023summer_sw" target="_blank">https://github.com/jeong35/2023summer_sw</a></p>
</div>
<%-include('footer.ejs')%>
