<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  
    <!-- 로그인박스 -->
    <div class="container">
    <div class="form-container">
      <h2>Login</h2>
      <form action="login" method="post">
        <label for="">Username:</label>
        <input type="text" id="loginUsername" name="loginUsername" required>
        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="loginPassword" required>
        <button type="submit">Login</button>
      </form>
    </div>
    
    <!-- 공백 박스 -->
    <div class = "empty-class">

    </div>

    <!-- 회원가입 박스 -->
    <div class="form-container">
      <h2>Sign Up</h2>
      <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</body>
</html>