<%-include('header.ejs')%>
    <div class="main-content">
        <h1></h1>
        <div class="main-content">
            <div class="images-container">
                <img src="/images/intro.png" alt="Cute Image">
            </div>
        </div>
        <!--
            <form class="write-form">
            <input type="text" placeholder="제목" required>
            <textarea placeholder="기록해주세요" required></textarea>
            <button type="submit">기록</button>
        </form>
        -->
        
    </div>
</body>
</html>