<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/menu.css">
    <title>Write Post</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/menu">MENU</a></li>
                <li><a href="/mainpage">MAINPAGE</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        <h1>   게시물 목록</h1>
        <nav>
            <ul>
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <div class="post-list">
            <div class="post">
            <% for (const post of posts) { %>
                <div class="post">
                    <h2><%= post.title %></h2>
                    <a href="/posts/<%= post.id %>">더 보기</a>                </div>
            <% } %>
            <!-- Add more example posts here -->
        </div>
    </div>
</body>
</html>
