<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/write.css">
    <title>Write Post</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/menu">MENU</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        <h1>Write a New Post</h1>
        <form action ="/write" class="write-form" method="post">
            <input type="text" placeholder="Title" required name="title">
            <input type="text" placeholder="작성자" id="writer" name="writer" required>
            <textarea placeholder="Write your post here" required name="content"></textarea>
            <button type="submit">완료</button>
        </form>
    </div>
</body>
</html>
