body {
    background-image: url('images/main.jpg');
    background-size:cover;
    font-family: Arial, sans-serif;
    background-color: /* green*/ linear-gradient(to right, #d4e1b0, #2d7d1e);
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

li a:hover {
    color: #3498db;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post p {
    font-size: 1em;
    color: #555;
}
