/* styles.css */
body {
    background-image: url('images/main.jpg');
    background-size:cover;
    font-family: Arial, sans-serif;
    background-color: /* green*/ linear-gradient(to right, #d4e1b0, #2d7d1e);
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

li a:hover {
    color: #3498db;
}

.main-content {
    text-align: center;
    padding: 5px;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.write-form {
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
}

button {
    padding: 12px 20px;
    background-color: green ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0f6520;
}
.images-container > img {
    width: 700px;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}